<!-- <img src="https://i.pinimg.com/originals/99/b0/e5/99b0e593f9237abf16df5cb1b1a87735.png" alt=""> -->
<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom navbar navbar-expand-xxl navbar-light bg-light"
    aria-label="Sixth navbar example">
    <div class="container-fluid">
        <a href="/" class="d-flex align-items-center col-md-4 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="120" height="96" role="img" aria-label="Bootstrap">
                <image xlink:href="assets/Img/Logo_Navbar.png" width="120" height="96" />
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06"
            aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse col-md-8" id="navbarsExample06">
            <ul class="navbar-nav me-auto mx-auto mb-2 mb-xl-0">
                <li><a href="#" class="nav-link px-2 link-dark text-end mx-xxl-2">Inicio</a></li>
                <li><a href="#" class="nav-link px-2 link-dark text-end mx-xxl-2">Productos</a></li>
                <li><a href="#" class="nav-link px-2 link-dark text-end mx-xxl-2">Acerca de nosotros</a></li>
                <li><a href="#" class="nav-link px-2 link-dark text-end mx-xxl-2">Contacto</a></li>
            </ul>
            <div class="text-end col-xxl-6">
                <button type="button" class="btn btn-primary me-2">Iniciar Sesión</button>
                <button type="button" class="btn btn-primary me-2">Registrate</button>
            </div>
        </div>
    </div>
</header>