.img-carousel-inicio{
    height: 500px;
}

.card-img-top{
    height: 275px;
    clip-path: polygon(100% 0, 0 0, 0 100%, 10% 98.5%, 22% 96%, 32% 93.5%, 41% 91%, 54% 85.5%, 67% 80%, 73% 78%, 79% 77.5%, 84% 77.5%, 89% 78.5%, 95.5% 81.5%, 100% 84%);
}

@media screen and (max-width: 991px){
	.img-carousel-inicio{
        height: 350px;
    }
}

@media screen and (max-width: 600px){
	.img-carousel-inicio{
        height: 200px;
    }
}