.accordion-item{
    border-bottom-width: 0px;
}

#FooterAccordion{
    display: none;
}

#Copyright{
    padding-bottom: 150px;
}

@media screen and (max-width: 991px){
	#FooterEscritorio{
        display: none;
    }
    #FooterAccordion{
        display: block;
    }
}