<footer class="pt-4 pt-md-4 pt-xl-5 border-top navbar-light bg-light">
    <div id="FooterEscritorio" class="row container mx-auto pb-4">
        <div class="col-12 col-xl text-center">
            <img class="mb-2 mx-auto" src="assets/Img/Logo_Navbar.png" alt="" width="120" height="120">
        </div>
        <div class="col-6 col-md">
            <h5>Categorias</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="inicio">Página principal</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="productos">Productos</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="nosotros">Acerca de nosotros</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="contacto">Contacto</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Servicios</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Diseño</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Dominio</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Hosting</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Posicionamiento</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Publicidad</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Acerca de</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="nosotros">Nosotros</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="nosotros#equipo">Equipo de desarrollo</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="privacidad">Términos de privacidad</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Ayuda</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Beneficios de mi e-commerce</a>
                </li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">¿Cómo puedo tener mi propia
                        pagina?</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Preguntas frecuentes</a></li>
            </ul>
        </div>
    </div>
    <div id="FooterAccordion" class="container">
        <div class="col-12 col-xl text-center">
            <img class="mb-2 mx-auto" src="assets/Img/Logo_Navbar.png" alt="" width="120" height="120">
        </div>
        <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
            <div class="accordion-item navbar-light bg-light">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button collapsed navbar-light bg-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseOne">
                        <h5>Categorias</h5>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <ul class="list-unstyled text-small">
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="inicio">Página
                                    principal</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="productos">Productos</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="nosotros">Acerca de
                                    nosotros</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="contacto">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item navbar-light bg-light">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed navbar-light bg-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        <h5>Servicios</h5>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <ul class="list-unstyled text-small">
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Diseño</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Dominio</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Hosting</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Posicionamiento</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Publicidad</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item navbar-light bg-light">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed navbar-light bg-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        <h5>Acerca de</h5>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <ul class="list-unstyled text-small">
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="nosotros">Nosotros</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="nosotros#equipo">Equipo de
                                desarrollo</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="privacidad">Términos de
                                privacidad</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item navbar-light bg-light">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed navbar-light bg-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                        <h5>Ayuda</h5>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body">
                        <ul class="list-unstyled text-small">
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Beneficios de mi
                                    e-commerce</a>
                            </li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">¿Cómo puedo tener
                                    mi propia
                                    pagina?</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Preguntas
                                    frecuentes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Copyright" class="text-center pb-3">
        <small class="d-block mb-3 text-muted mx-auto h6">© DPipet | 2023. Todos los derechos reservados</small>
    </div>
    <div id="miObjeto1" class="pb-5 mb-5 collapse show"></div>
    <div id="miObjeto2" class="fixed-bottom py-3 text-center border-top navbar-light bg-light collapse show">
        <div id="Cookies" class="text-center">
          <h4 class="d-block mb-3 text-muted mx-auto h6">Al navegar por este sitio <b>aceptás el uso de cookies</b> para agilizar tu experiencia de compra.</h4>
        </div>
        <button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="collapse" data-bs-target="#miObjeto1,#miObjeto2">ENTENDIDO</button>
    </div>
      
</footer>