<div class="container py-5 mb-1">
    <h1>Política de privacidad</h1>
    <p>Última actualización: 24 de noviembre de 2023</p>
    <p>Esta Política de privacidad describe cómo se recopila, utiliza y comparte su información personal cuando visita
        nuestro sitio web [nombre del sitio web] (el "Sitio").</p>
    <h2>Información personal que recopilamos</h2>
    <p>Cuando visita el Sitio, recopilamos cierta información sobre su dispositivo, incluida información sobre su
        navegador web, dirección IP, zona horaria y algunas de las cookies que están instaladas en su dispositivo.
        Además, cuando navega por el Sitio, recopilamos información sobre las páginas web individuales o los productos
        que ve, qué sitios web o términos de búsqueda lo remitieron al Sitio y información sobre cómo interactúa con el
        Sitio. Nos referimos a esta información recopilada automáticamente como "Información del dispositivo".</p>
    <p>Recopilamos información del dispositivo utilizando las siguientes tecnologías:</p>
    <ul>
        <li>"Cookies" son archivos de datos que se colocan en su dispositivo o computadora y a menudo incluyen un
            identificador único anónimo. Para obtener más información sobre las cookies y cómo deshabilitarlas, visite
            <a href="http://www.allaboutcookies.org">http://www.allaboutcookies.org</a>.
        </li>
        <li>"Archivos de registro" realizan un seguimiento de las acciones que ocurren en el Sitio y recopilan datos,
            incluida su dirección IP, tipo de navegador, proveedor de servicios de Internet, páginas de referencia /
            salida y marcas de fecha / hora.</li>
        <li>"Balizas web", "etiquetas" y "píxeles" son archivos electrónicos utilizados para registrar información sobre
            cómo navega por el Sitio.</li>
    </ul>
    <p>Además, cuando realiza una compra o intenta realizar una compra a través del Sitio, recopilamos cierta
        información de usted, incluido su nombre, dirección de facturación, dirección de envío, información de pago
        (incluidos los números de tarjeta de crédito), dirección de correo electrónico y número de teléfono. Nos
        referimos a esta información como "Información del pedido".</p>
    <h2>Cómo usamos su información personal</h2>
    <p>Utilizamos la Información del dispositivo que recopilamos para ayudarnos a detectar posibles riesgos y fraudes
        (en particular, su dirección IP), y de manera más general para mejorar y optimizar nuestro Sitio (por ejemplo,
        al generar análisis sobre cómo navegan y interactúan los usuarios con el Sitio, y para evaluar el éxito de
        nuestras campañas de marketing y publicidad).</p>
    <p>También utilizamos la Información del pedido que recopilamos para cumplir con cualquier pedido realizado a través
        del Sitio (incluido el procesamiento de su información de pago, la organización del envío y la emisión de
        facturas y / o confirmaciones de pedidos). Además, utilizamos esta Información del pedido para:</p>
    <ul>
        <li>Comunicarnos con usted;</li>
        <li>Verificar su identidad;</li>
        <li>Proporcionarle información o publicidad relacionada con nuestros productos o servicios.</li>
    </ul>
    <p>Compartimos su información personal con terceros para ayudarnos a utilizar su información personal, como se
        describe anteriormente. Por ejemplo, utilizamos Shopify para alimentar nuestra tienda en línea; puede leer más
        sobre cómo Shopify utiliza su información personal aquí: <a
            href="https://www.shopify.com/legal/privacy">https://www.shopify.com/legal/privacy</a>. También utilizamos
        Google Analytics para ayudarnos a comprender cómo nuestros clientes usan el Sitio; puede leer más sobre cómo
        Google utiliza su información personal aquí: <a
            href="https://www.google.com/intl/en/policies/privacy/">https://www.google.com/intl/en/policies/privacy/</a>.
        También puede optar por no participar en Google Analytics aquí: <a
            href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>.</p>
    <p>
</div>