<div class="container">
    <div class="text-center">
        <h1 class="pt-5 pb-5"><b>Sobre Nosotros</b></h1>
        <h2 class="pt-2">¡Somos Mi Tienda Online!</h2>
        <h5 class="pt-5">Tu Destino en el Comercio Electrónico Personalizado</h5>
        <p class="px-5 mx-5">
            
            <br>En Mi Tienda Online, nos enorgullece ser tu puerta de entrada al emocionante mundo del comercio
            electrónico. No solo te ofrecemos una plataforma; en nuestro corazón yace la visión de proporcionar 
            una experiencia única y emocionante en el vasto universo del comercio electrónico. Nos destacamos 
            por ser más que una plataforma; somos el catalizador que impulsa tus ideas de negocios a nuevos horizontes.<br>

            <br> En el núcleo de nuestra misión, reside la apasionada tarea de proporcionarte algo más que una herramienta 
            para vender; somos tu socio estratégico. Nos enorgullece ser el punto de partida de tu viaje digital, donde 
            cada clic es una oportunidad para transformar tus sueños empresariales en realidad. No somos solo una plataforma; 
            somos tu guía, tu facilitador en el emocionante mundo del comercio en línea.<br>

            <br>Creamos un espacio donde la experiencia es personalizada a medida de tus necesidades y aspiraciones.
            Nuestra dedicación va más allá de la mera transacción comercial; estamos aquí para nutrir y
            potenciar tus ideas, para ser ese impulso que te lleva a nuevos horizontes empresariales.<br>

        </p>
        <div class="py-5">
            <hr>
        </div>

        <h3 class="pt-2">Nuestra misión</h3>

        <p class="px-5 mx-5">
            <br>En Mi Tienda Online, nos dedicamos a ofrecer a emprendedores y comerciantes una herramienta flexible y
            poderosa para llevar sus productos al mercado digital. Nuestra misión es allanar el camino para que tus sueños
            empresariales se conviertan en una realidad tangible, brindándote las herramientas necesarias para destacar en 
            el competitivo mundo del comercio en línea.<br>

            <br>Nos destacamos por ofrecer no solo tecnología avanzada, sino también un compromiso humano. Entendemos que
            detrás de cada tienda online hay una historia, un emprendedor con una visión única. Así que, más allá de la
            funcionalidad de la plataforma, estamos comprometidos a comprender tu historia y a ser el lienzo donde tus
            ideas toman forma.<br>
        </p>

        <div class="py-5">
            <hr>
        </div>

        <h3 class="pt-2">Nuestra visión</h3>

        <p class="px-5 mx-5">
            <br> En Mi Tienda Online, el comercio electrónico deja de ser simplemente transacciones; se convierte en una
            narrativa, en una experiencia que refleja la esencia y los valores de tu negocio. Nos esforzamos por ser el
            socio que te acompaña en cada paso de tu viaje, desde la creación del sitio hasta el crecimiento continuo de
            tu marca.<br>

            <br>Aspiramos a ser la plataforma preferida de emprendedores y negocios, siendo reconocidos como líderes en
            la revolución del comercio electrónico. Nos esforzamos por ser un faro de innovación, ofreciendo soluciones 
            que no solo satisfacen tus necesidades actuales, sino que anticipan y abrazan las tendencias futuras del mercado.<br>

            <br>Tu éxito es nuestro éxito. Así que, únete a nosotros en este emocionante viaje por el comercio electrónico
            personalizado. En Mi Tienda Online, estamos listos para ser más que tu plataforma; estamos listos para ser
            tu socio de confianza en la expansión de tu negocio en el mundo digital. ¡Bienvenido a una nueva era de
            posibilidades empresariales!<br>
        </p>

        <div class="py-5">
            <hr>
        </div>
    </div>
        <h3 class="pt-2 text-center">Valores</h3>

        <div class="px-5 mx-5 text-justify">
            <br><b>● Empatía Empresarial:</b> Comprendemos las necesidades únicas de cada emprendedor y negocio, adaptando
            nuestras soluciones para garantizar el éxito de cada uno.<br>

            <br><b>● Excelencia Innovadora:</b> Buscamos constantemente maneras innovadoras de mejorar y evolucionar,
            ofreciendo herramientas de última generación y soluciones vanguardistas.<br>

            <br><b>● Compromiso con el Éxito:</b> 
            Nos comprometemos a ser tu socio en cada paso del camino, celebrando tus
            triunfos y enfrentando los desafíos juntos.<br>

            <br> <b>● Personalización sin Límites:</b> Creemos en la belleza de la diversidad y la singularidad. Ofrecemos
            una plataforma que te permite expresar tu identidad de manera auténtica.<br>
        </div>
    <div class="text-center">
        <div class="py-5">
            <hr>
        </div>

        <h3 class="pt-2">¿Quién está detrás de Mi Tienda Online?</h3>

        <p>

            <br>Mi nombre es Daniel A. Pipet, técnico en desarrollo de software, fundador y mente creativa detrás de este
            proyecto. Graduado de la Universidad Provincial de Ezeiza (UPE). Desde siempre, me he inclinado hacia 
            las materias prácticas, las matemáticas y el diseño, lo que me llevó a enamorarme del desarrollo de software.<br>

            <br>Durante mi tiempo en la UPE, descubrí mi fascinación por crear algo desde cero. La idea de ver cómo el
            esfuerzo mental y
            el código se transforman en páginas web o programas es genuinamente gratificante. La posibilidad de
            materializar ideas y
            convertirlas en realidad me motiva, ya que las posibilidades son prácticamente infinitas.<br>

            <br>Mi especialización se encuentra en el front-end y el diseño visual, aunque también me desenvuelvo con
            destreza en el back-end. Me destaco por no conformarme con lo ordinario; mi enfoque es la calidad y
            estoy constantemente aprendiendo e investigando para superar expectativas.<br>

            <br>Formé parte del grupo de desarrollo de páginas web como <a href="https://www.psy-can.com.ar/#/inicio">psy-can</a> 
            y <a href="https://adoptappar.000webhostapp.com/">adoptapp</a>, no solo contribuí a la codificación, desarrollo y 
            planeacion de ambos proyectos, sino que también me encargué del diseño de logos y, en el caso de adoptapp, me 
            desempeñe como diseñador gráfico y de marca, encargado de crear y mantener la identidad visual de la pagina, 
            incluyendo el diseño del logo y establecer la gama de colores y creacion de banners y publicidades.<br>

            <br>Lo que me distingue es mi compromiso con la profesionalidad y la puntualidad. Siempre me esfuerzo por
            cumplir con los plazos acordados y entregar trabajos de alta calidad. Mis metas a largo plazo como
            desarrollador incluyen vivir de mi pasión y establecer mi propia empresa para ayudar a emprendedores
            y negocios a dar el salto digital.<br>

        </p>

        <div class="py-5">
            <hr>
        </div>

        <br>En Mi Tienda Online, no solo construimos plataformas; construimos historias de éxito. Únete a nosotros y
        llevemos
        tu visión al siguiente nivel.

        <br>Gracias por elegir Mi Tienda Online.<br>

        <p class="text-muted pb-5">
            <br>Mi Tienda Online - Transformando Sueños en Realidad.<br>
        </p>
    </div>
    
</div>