<div class="container">
    <div class="text-center">
        <h1 class="pt-5 pb-5"><b>Sobre Nosotros</b></h1>
        <h2 class="pt-2">¡Somos Mi Tienda Online!</h2>
        <p class="mx-5">
            <br>Comprá en un solo click la más amplia variedad de marcas de indumentaria mayorista en todas las categorías:
            mujeres, hombres, niños, lencería y accesorios, a los mejores precios.<br>
            <br>Esto lo hacemos posible porque somos la plataforma Online mayorista por excelencia de Av. Avellaneda (en
            Flores). Conectamos a vendedores y compradores de todo el país, los 7 días a la semana, las 24 horas del día.<br>
            <br>Además, brindamos en cada compra, la mejor experiencia en ecommerce, con procesos rápidos y seguros, ofreciendo
            una amplia pasarela en medios de pago y servicio de envíos.<br>
        </p>
    </div>
    
    <div class="py-5">
        <hr>
    </div>

    <h3 class="pt-2">Nuestra misión</h3>

    <p class="mx-5">
        <br>Somos un E-Commerce de indumentaria enfocado en brindar una experiencia comercial única, ofreciendo máximo
        rendimiento en tiempos de compras y envíos, al cliente mayorista y emprendedor de la Argentina, facilitando los
        medios para emprender o hacer crecer tu negocio.<br>
    </p>

    <h3 class="pt-2">Nuestra visión</h3>
    
    <p class="mx-5">
        <br>Ser el E-Commerce de indumentaria internacional, referente en tendencias de moda y garante de experiencias
        únicas de compra, con tiempos de entrega de primera al servicio del cliente mayorista y el crecimiento de su
        negocio.<br>
    </p>

    <h3 class="pt-2">Valores</h3>
    
    <p class="mx-5">
        ● Orientación al cliente.<br>
        ● Calidad de servicio.<br>
        ● Innovación.<br>
        ● Compromiso.<br>
    </p>
</div>
    